* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: googleSansRegular;
  src: url("../fonts/GoogleSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: googleSansBold;
  src: url("../fonts/GoogleSans-Bold.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: googleSansRegular, "Roboto", sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #001f2f;
}

.container {
  margin: auto;
  padding: 0px;
  width: 90%;
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

.center {
  text-align: center;
  width: 100%;
  margin: auto;
}
